<div id="linksAndLogout" class="topPart">

  <div *ngIf="isNorm">
    <p>Permissions: None</p>
    <button (click)="logout()">Logout</button><!--COMPLETED-->

  </div>
  <ul>
  <div *ngIf="isGroupAdmin">
    <p>Permissions: Group Admin</p>
    <li><button (click)="newRoom()">Make a new room</button></li><!--COMPLETED-->
    <li><button (click)="newGroup()">Create a new group</button></li><!--COMPLETED-->
    <li><button (click)="removeGroup()">Delete the current group</button></li><!--COMPLETED-->
    <li><button (click)="removeChannel()">Delete the current channel</button></li><!--COMPLETED-->
    <li><button (click)="addToGroup()">Add user to current group</button></li><!--COMPLETED-->
    <li><button (click)="removeUserFromGroup()">Remove a user form a group</button></li><!--COMPLETED-->
    <li><button (click)="createNewUser()">Register a new user</button></li><!--COMPLETED-->
    <li><button (click)="setGroupAdmin()">Promote to Group admin</button></li><!--COMPLETED-->
    <li><button (click)="logout()">Logout</button></li><!--COMPLETED-->
  </div>
</ul>

  <div *ngIf="isSuperAdmin">
    <p>Permissions: Super Admin<p>
    <button (click)="newRoom()">Make a new room</button><!--COMPLETED-->
    <button (click)="newGroup()">Create a new group</button><!--COMPLETED-->
    <button (click)="removeGroup()">Delete the current group</button><!--COMPLETED-->
    <button (click)="removeChannel()">Delete the current channel</button><!--COMPLETED-->
    <button (click)="addToGroup()">Add user to current group</button><!--COMPLETED-->
    <button (click)="removeUserFromGroup()">Remove a user form a group</button><!--COMPLETED-->
    <button (click)="createNewUser()">Register a new user</button><!--COMPLETED-->
    <button (click)="removeAUser()">Remove a user</button><!--COMPLETED-->
    <button (click)="setGroupAdmin()">Promote to Group admin</button><!--COMPLETED-->
    <button (click)="setAdmin()">Promote to admin</button><!--COMPLETED-->
    <button (click)="logout()">Logout</button><!--COMPLETED-->


  </div>

</div>

<div id="channelsAndGroups" class="groupsAndChannels">
  <p>Groups</p>
  <div *ngFor="let group of groups">
    <button (click)="changeGroup(group)">{{ group }}</button>
  </div>
</div>

<div class="groupsAndChannels">
  <p>Channels in current group</p>
  <div *ngFor="let room of channels">
    <button (click)="changeRoom(room)"> {{ room }}</button>
  </div>
</div>

<div id="chatArea" class="chatArea">
  <div *ngFor="let message of messages">
    {{ message.text}}
  </div>
  <input [(ngModel)]="message" type="text" placeholder="Enter message here" id="message" name="message" />
  <button (click)="sendMessage(message)">Send</button>
</div>
